#tabmenu {
    list-style: none;
}

#tabmenu .tablink {
    display: inline;
    margin: 0 auto;
    padding: 2px 5px;
    border-radius: 10px 10px 0 0;
    background-color: #5db866;

}

#tabmenu .tablink-active {
    display: inline;
    margin: 0 auto;
    padding: 2px 5px;
    border-radius: 10px 10px 0 0;
    background-color: #c8e9a7;
}

.tab-body {
    display: none;
}