#tabmenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

#tabmenu .tablink {
    display: inline;
    margin: 0 auto;
    padding: 2px 5px;
    border-radius: 10px 10px 0 0;
    background-color: #5db866;
}

#tabmenu .tablink-active {
    display: inline;
    margin: 0 auto;
    padding: 2px 5px;
    border-radius: 10px 10px 0 0;
    background-color: #c8e9a7;
}

.tab-body {
    margin: 0 auto;
    padding: 15px;
    background-color: #c8e9a7;
    height: 90vh;
}

#info {
    display: none;
}