body {
    background-color: #e6f0e4;
}

.chartGauge {
    width: 80%;
    margin: 10vw auto;
} 

.text {
     color: "#112864";
    font-size: 16px;
}
          
svg {
    font: 10px sans-serif;
}

#pieContainer {
    position: relative;
    margin: 10vw auto;
    height: 50vh;
    width: 50vw;
}